
*{
   box-sizing: border-box;
   margin:0;
   padding:0;
 }
 body{
   margin: 0;
 }
 *:focus {
   outline:none;
}
 h1, h2, h3, h4, h5, h6, p{
   margin: 0;
 }
 input{
   border:none;
   }
 /* a{
   color: inherit;
   text-decoration: none;
 } */
 /* a:hover, a:active{
   text-decoration: none;
   color: inherit;
 } */
 ul{
   list-style: none;
   padding: 0;
   margin: 0;
 }
 img {
   max-width: 100%;
 }
 button{
   background:none;
   border:none;
   cursor:pointer;
 }
button:focus{
  outline: none;
}





body{
   min-height: 100vh;
   background: url(/img/background.jpg) center no-repeat;
   background-size: cover;
   color: #000000;
}



.main-info{
   background: rgb(255, 255, 255,.9);
   padding: 15px 50px;
   border-radius: 20px;
}

.about-me{
   display: flex;
   position: relative;
   padding-top: 50px;
}

.title{
   text-align: center;
   padding-bottom: 5px;
}
p{
   padding-bottom: 20px;
   font-size: 20px;
}
.title-skills{

   padding-bottom: 10px;
}
.wrapp-item{
   display: flex;
   justify-content: space-between;

}
.title-projects{
   padding-bottom: 10px;

}

img{
   width: 300px;
   margin-right: 50px;
   max-height: 310px;
   border-radius: 50%;
}
.container{
   max-width: 1440px;
   margin:  0 auto;
   display: flex;
   justify-content: space-around;
}
.wrapp-project{
   display: flex;
   justify-content: space-evenly;

}
.wrapp-item ul li{
   padding-bottom: 5px;
}
.wrapp-item ul{
   padding-right: 50px;
}
footer{
   background: rgb(0, 0, 0,.9);
   position: absolute;
   bottom: 0;
   width: 100%;
   color: #ffffff;
  padding: 5px 0;
   
}
footer .container{
   display: flex;
   justify-content: space-evenly;
}
.title-contact{
   text-align: center;
   padding-bottom: 15px;
}


svg{
   width: 20px;
   height: 20px;
   fill: #ffffff;
   margin-right: 10px;
}
a{
   display: flex;
   color: #ffffff;
}
li{
   display: flex;
}
footer li{
   padding-bottom: 5px;
}
p a{
   display: inline-block;
}
.main-info a{
   color: #000000
}
.contact-item{
   display: flex;
   justify-content: space-between;
   padding-bottom: 20px;
   width: 100%;
   font-size: 20px;
}
.social-networks{
      display: flex;
}
.social-networks li{
   margin-right: 20px;
}
.main-info svg{
   fill: #000000;
}
.contact{
   font-size: 20px;
   text-align: center;
   padding-bottom: 20px;
   
}
.contact span{
   display: block;
}
.contact-me{
   padding-bottom: 10px;
}
.title-footer{
   text-align: center;
   padding-bottom: 5px;
}
.languages{
}
.languages ul li{
   padding-bottom: 5px;
}
.title-languages{
   padding-bottom: 10px;
}
.me-project ul li{
   padding-bottom: 5px;
}