body{
   display: flex;
   justify-content: center;
   padding-top: 100px;
   flex-wrap: wrap;
   background: url(/background.jpg) center no-repeat;

  
}
.card{
   margin: 10px;
}
.padding{
   padding-bottom: 45px
}
.padding-first{
   padding-bottom: 69px
}
a{
   font-weight: 800;
}
a:hover{
   color: red;
   transition:  .3s;
}